flows.json
[{"id":"bedf6750.4ff778","type":"tab","label":"Cart","disabled":false,"info":""},{"id":"eff26426.70f1f8","type":"http in","z":"bedf6750.4ff778","name":"get - sample","url":"/sample","method":"get","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["2c8def7c.a9541"]]},{"id":"ff4332fd.2ba11","type":"http response","z":"bedf6750.4ff778","name":"http response","statusCode":"","headers":{},"x":680,"y":100,"wires":[]},{"id":"2c8def7c.a9541","type":"template","z":"bedf6750.4ff778","name":"sample response data","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"info\" : \"ok\"\n}","output":"json","x":460,"y":100,"wires":[["ff4332fd.2ba11"]]}]